.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 16px;
    margin-bottom: 100px;
}

.form-container h1 {
    margin-bottom: 16px;
}

.form-container p {
    width: 40%;
    text-align: center;
}

.form-container form {
    width: 50%;
}

.form-container form .button-container {
    display: flex;
    justify-content: center;
}

.form-container .success-message {
    width: 30%;
    margin-top: 32px;
    text-align: center;
}