.question-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 32px;
    margin-bottom: 100px;
}

.question-data-container h1 {
    margin-bottom: 24px;
}

.question-data-container .input-container {
    width: 50%;
}

.question-data-container button {
    margin-top: 12px;
}

.success-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
}

@media (max-width: 1089px) {
    .question-data-container .input-container {
        width: 75%;
    }

    .success-message-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .success-message-container h1 {
        text-align: center;
    }
}