.history-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 100px;
}

.history-data-container h1 {
    margin-bottom: 24px;
}

.history-data-container .card {
    width: 50%;
    margin-bottom: 16px;
}

@media (max-width: 1089px) {
    .history-data-container .card {
        width: 75%;
    }
}