.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 32px;
    margin-bottom: 100px;
    padding-left: 24px;
    padding-right: 24px;
}

.page-container h1 {
    margin-bottom: 16px;
}

.page-container h2 {
    margin-bottom: 60px;
    text-align: center;
}

.page-container select {
    width: 50%;
    margin-bottom: 12px;
}

.page-container .quiz-container {
    width: 50%;
    margin-top: 24px;
}

.page-container .quiz-container .answers-container {
    margin-bottom: 24px;
}

.page-container .quiz-container .answers-container div {
    margin-bottom: 4px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.score-container h2 {
    text-align: center;
    padding-right: 24px;
    padding-left: 24px;
}

.score-container button {
    margin-top: 20px;
    margin-bottom: 16px;
}

.score-container .question-review-container {
    width: 50%;
    padding-bottom: 100px;
    padding-top: 830px;
}

.score-container .question-review-container > div {
    margin-bottom: 28px;
}

.score-container .question-review-container > div > div {
    margin-left: 20px;
}

@media (max-width: 1089px) {
    .page-container select {
        width: 75%;
    }

    .page-container .quiz-container {
        width: 75%;
    }

    .score-container .question-review-container {
        width: 75%;
    }
}