body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
}

.sign-up-container h1 {
    margin-bottom: 36px;
}

.sign-up-container .row {
    margin-bottom: 12px;
}

@media (max-width: 1089px) {
    .sign-up-container {
        width: 370px;
        height: 300px;
        padding-left: 12px;
        padding-right: 12px;
    }
}